.compenentNav nav .container-fluid {
  transition: all 0.5s ease-in-out;
  z-index: 100;
}
.compenentNav nav .container-fluid.scroll{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Logo */
.compenentNav nav .logo {
  width: 120px;
  transition: all 0.5s ease-in-out;
}
.compenentNav nav .logo img {
  width: 100%;
}
.compenentNav nav .logo.scroll {
  width: 80px;
}

/* <a>  */
.compenentNav nav li a {
  font-size: 1.2rem;
  color: white;
  font-weight: 400;
}
.compenentNav nav li a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: black;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.compenentNav nav li a:hover::before,
.compenentNav nav li a.action::before {
  width: 100%;
  visibility: visible;
}
.compenentNav nav .container-fluid li a.scroll {
  display: none;
    color: black;
}

/* Action-btn  */
.compenentNav nav .action-btn {
  color: white;
  font-size: 1.2rem;
  border: 1.5px solid white;
  border-radius: 12px;
  padding: 10px 25px;
  font-weight: 500;
}
.compenentNav nav .action-btn:hover {
  border: 2px solid white;
  color: black;
  background-color: white;
}
.compenentNav nav .action-btn.scroll{
    color: black;
    border-color: black;
}
/* Toggle  */
.compenentNav nav .toggle-btn {
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.compenentNav nav .toggle-btn {
  display: none;
}
.compenentNav nav .toggle-btn.scroll {
  display: block;
  color: black;
}

/* Drop down menu  */
.compenentNav .dropDown {
  width: 400px;
  height: 100vh;
  padding: 0 50px;
  overflow: hidden;
  display: none;
  transition: 0.3s;
  z-index: 110;
}
.compenentNav nav .dropDown.open {
  display: block;
  backdrop-filter: blur(20px);
}
.compenentNav .dropDown li {
  margin: 20px 0;
}
.compenentNav nav .dropDown .close-toggle-btn {
  font-size: 30px;
  display: inline-block;
  margin: 20px 0 20px 0px;
  color: black;
}
.compenentNav nav .dropDown .close-toggle-btn:hover {
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 50%;
}

/* Action - btn - Drop down menu  */
.compenentNav .dropDown a {
  width: 100%;
  display: block;
}

/* Footer  */
/* ******************************************************************************* */
.componentFooter .book {
  width: 500px;
}
.componentFooter .book a {
  width: 100%;
  border: 2px solid black;
  color: black;
  padding: 10px 0;
  border-radius: 12px;
}
.componentFooter .book a:hover {
  color: white;
  background-color: black;
}
.componentFooter .quick-access a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: black;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.componentFooter .quick-access a:hover::before,
.componentFooter .quick-access a.action::before {
  width: 100%;
  visibility: visible;
}

/* Booking room  */
/* ******************************************************************************* */
.book-room a{
    color: darkblue;
    font-size: 1.5rem;
    padding: 10px 50px;
    border-radius: 8px;
    border: 1px solid darkblue;
}
.book-room a:hover{
    color: white;
    background-color: darkblue;
}

/* Modal messeg success */
/* ******************************************************************************* */
 .book-service-success{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgba(40, 40, 40, 0.31);
    display: none ;
}
 .book-service-success .modal-message{
    padding: 100px;
    background-color: rgb(250, 250, 245);
    border-radius: 32px;
}
 .book-service-success .modal-message{
    text-align: center;
    color: darkblue;
    font-size: 1.3rem;
}
 .book-service-success .message-load{
    stroke-dasharray: 628;
    stroke-dashoffset: 628;
    animation: draw 0.5s linear forwards;
}
@keyframes draw{
    to{
        stroke-dashoffset: 0;
    }
}

/* Time */
/* ******************************************************************************* */
.time-for-serive .set-time{
  width: 100%;
  height: 34px;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  background: transparent;
  font-size: 20px;
}
.time-for-serive .set-time span{
  padding: 0 0 0 10px;
}
.timtime-for-serivee ul .frame-time{
  font-weight: bold;
  font-size: 20px;
}
.time-for-serive ul li{
  font-size: 20px;
}
.time-for-serive ul li:hover{
  background-color: rgba(248, 232, 212, 0.512);
  cursor: pointer;
}
.time-for-serive .dropdownmenu{
  display: none;
}
.time-for-serive .dropdownmenu.show{
  display: block;
}


/* Check date */
/* ******************************************************************************* */
/* .check-date .group-check .item{
  color: darkblue;
  font-size: 0.9rem;
}
.check-date .group-check .input-date{
  border: unset;
  outline: unset;
  background: transparent;
  border-bottom: 1px solid darkblue;
  width: 100%;
}
.check-date .group-check .input-date.error{
  border: 1px solid red;
} */
 
/* Number Customer */
/* ******************************************************************************* */
.number-people .type-peo input{
  border: unset;
  outline: unset;
  background: transparent;
  border-bottom: 1px solid darkblue;
}

/* Celender */
/* ******************************************************************************* */
:root {
    --primary: #3B82F6;
    --primary-light: #DBEAFE;
    --primary-dark: #1E3A8A;
    --background: #F9FaFB;
    --success: #d1fae5;
    --success-text: #065f46;
    --error: #fee2e2;
    --erro-text: #b91c1c;
}
.calnerder-of-room .calender{
    max-width: 300px;
    margin: 10px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.calnerder-of-room .calender .nav-btn-calender{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.calnerder-of-room .calender .nav-btn-calender .nav-btn{
    font-size: 1rem;
    background: none;
    cursor: pointer;
    border: none;
}
.calnerder-of-room .calender .calendar-grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;

}
.calnerder-of-room .day, .day-name {
    text-align: center;
}
.calnerder-of-room .day {
    background: #FFF;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    transition: background 0.2s ease;
}

.calnerder-of-room .day:hover {
    background: #f3f4f6;
}

.calnerder-of-room .day.today {
    background: var(--primary-light);
    border-color: var(--primary-dark)
}
.calnerder-of-room .day.choosed{
    background-color: navajowhite;
    border-color: var(--primary-dark)
}
.calnerder-of-room .day.past-day{
    color: darkgray;
    text-decoration: line-through;
    pointer-events:none;
}

.calnerder-of-room .date-number {
    font-weight: bold;
}






@media (max-width: 992px) {
  .compenentNav .dropDown {
    width: 70vw;
  }

  .compenentNav nav .link li {
    display: none;
  }

  .compenentNav nav .toggle-btn {
    display: block;
  }
}

@media (max-width: 768px) {
  .compenentNav nav li a {
    font-size: 0.9rem;
  }
  .compenentNav nav .logo {
    width: 80px;
  }
  .compenentNav nav .toggle-btn {
    font-size: 20px;
  }
  .compenentNav .dropDown {
    width: 100vw;
  }
  .componentFooter .book {
    width: 100vw;
  }
  .componentFooter .logo-footer img {
    width: 100px;
  }
  .componentFooter .logo-footer h1 {
    font-size: 20px;
  }
  .componentFooter .logo-footer .address p {
    font-size: 12px !important;
  }
}

@media (max-width: 576px) {
  .compenentNav nav .logo {
    width: 60px;
  }

  .compenentNav nav .logo.scroll {
    width: 60px;
  }

  .compenentNav nav .action-btn {
    font-size: 0.7rem;
  }
}
